body{
	position: relative;
	text-align: center;
	outline: none;
}

#darkMask{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 1100px;
}


.hidden{
	display: none;
}

#stars, #loading{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
}

#loadingText{
	margin: auto;
	width: 280px;
	text-align: left;
}

.starsOn{
	background-image: url("images/cheese/loadingBackground.png");
}

.starsOff{
	background-image: url("images/cheese/loadingBackgroundOff.png");
}

#moon{
	height: 40%;
	margin: auto;
	margin-top: 10%;
}

#gameView{
	position: fixed;
	top: -500px;
	bottom: -500px;
	left: -500px;
	right: -500px;
	display: none;
}


#moonGround{
	position: fixed;
	width: 100%;
	min-width: 1500px;
	left: 0px;
	bottom: -50px;
}

#planetLarge{
	position: fixed;
	top: 15%;
	width: 400px;
	height: 400px;
	left: 5%;
	background-size: 400px 400px;

	background-image: url("images/cheese/planetLarge.png");
}

#planetSmall{
	position: fixed;
	left: 80%;
	bottom: 80%;
	right: 10%;
	width: 150px;
	height: 150px;
	background-size: 150px 150px;

	background-image:url("images/cheese/planetSmall.png");
}

#fire{
	position: absolute;
	left: 65px;
	bottom: 10px;
	width: 200px;
	height: 200px;
}


#fireLight{
	width: 100px;
	height: 50px;
	position: absolute;
	top: 410px;
	left: 475px;
	opacity: .7;
}

#boundinBox{
	background: black;
	position: absolute;

}

#cheese{
	position: absolute;
	background-image: url("images/cheese/cheese.png");
	width: 32px;
	height: 32px;
}

#mouse{
	background-image: url("images/cheese/mouse0.png");
}

#mouseCombo{
	position: fixed;
	left: 40%;
	bottom: 30%;
	width: 400px;
	height: 300px;
}

#mouse, #mouseHappy, #mouseSad{
	border: none;
	position: absolute;
top: 0px;
right: 0px;
width: 300px;
height: 300px;
}



#mouseHappy{
	background-image: url("images/cheese/success.png");

    -webkit-animation: playHappy 1.2s steps(12) infinite;
    -moz-animation: playHappy 1.2s steps(12) infinite;
    -ms-animation: playHappy 1.2s steps(12) infinite;
    -o-animation: playHappy 1.2s steps(12) infinite;
    animation: playHappy 1.2s steps(12) infinite;
}

@-webkit-keyframes playHappy {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}

@-moz-keyframes playHappy {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}

@-ms-keyframes playHappy {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}

@-o-keyframes playHappy {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}

@keyframes playHappy {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}

