body{
	margin-top: 50px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-weight: 300;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	line-height: 1.4;
	background: #fff;
	color: #1f2101;
}

::-webkit-scrollbar { 
    display: none; 
}

a{
	color: #666;
}

#viewer{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#columnA{
  display: inline-block;
  width: 50%;
  float: left;
}

#columnB{
  display: inline-block;
  width: 50%;
  float: right;
}



.noSee{
	opacity: 0;
}

.see{
	-webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
	transition: opacity 2s;
	opacity: 1;
}

.spaceHolder{
	display: inline-block;
	position: relative;
	width: 45%;
	margin: 5px;
	max-width: 200px;
	min-width: 150px;
}

.iconContainer{
	width: 45%;
	max-width: 200px;
	min-width: 150px;
	cursor: pointer;
	box-shadow: none;
	position: relative;
	display: inline-block;
}

.icon:hover{
	box-shadow: 0px 0px 5px #ddd;
}

.iconText{
	width: 200px;
	height: 50px;
}

#container{
	width: 100%;
	min-width: 450px;
	height: 1000px;
	z-index: 3;
	background: #fdfdfd;
	position: relative;
}

#icons{
	background: #fdfdfd;
	position: relative;
	z-index: 3;
	padding: 50px;
	clear: both;
	margin: auto;
	margin-top: 230px;
	text-align: center;
	max-width: 1100px;
}

#mainTitle{
	background: #fdfdfd;
	opacity: 1 !important;
	font-size: 30px;
	cursor: default;
	width: 250px;
	margin: auto;
	padding-top: 75px;
}


#about{
	float: left;
	cursor: pointer;
}

#resume{
	float: right;
	cursor: pointer;
}


header{
	background-image: url("images/header.jpg");
	background-size: cover;
	position: fixed;
	top: 0px;
	margin: auto;
	text-align: center;
	left: 0px;
	right: 0px;
	z-index: 10;
	height: 0px;
	padding-top: 50px;
	border-bottom: #fdfdfd 20px solid;
}

#work{
	text-align: left;
	width: auto;
  	overflow-y: hidden;
  	overflow-x: scroll;
  	white-space: nowrap;
  	padding-bottom: 20px;
}

.workSlide{
	display: inline-block;
	margin-right: 100px;
}

.workImage {
	height: 500px;
}

.iconContainer{
}

.iconCategory{
	text-align: left;
	font-size: 14px;
	color: #1f2101;
}

.iconTitle{
	text-align: left;
	color: #1f2101;
	line-height: 20px;
	font-size: 12px;
}

#aboutMeContainer{
   	padding-top: 20px;
	width: 100%;
	z-index: 2;
	margin-bottom: -230px;
	position: relative;
	-webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
	transition: opacity 2s;
	opacity: 1;
}

.aboutHidden{
	height: 0px;
	-webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
	transition: opacity .5s;
	color: #fdfdfd;
	opacity: 0;
}


#title{
	background-image: url("images/homeIcon.png");
	width: 150px;
	height: 150px;
	margin: auto;
	margin-top: 30px;
	cursor: pointer;
	opacity: 1 !important;
}

#comingSoonBody{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-image: url("images/header.jpg");
	background-size: cover;
}

#title{
	margin-bottom: 20px;
}

#header{
	padding: 30px;
	padding-left: 0px;
	text-align: left;
}

#projectTitle{
	color: #666;
	padding: 10px 20px;
	padding-left: 0px;
}

.text {
	color: #666;
	padding: 10px 20px;
	padding-left: 0px;
	line-height: 1.4;
	width: 60%;
	padding-left: 25%;
	padding: 2.5% 20% 5% 20%;
	text-align: left;
}

.text2 {
	color: #666;
	padding: 10px 20px;
	padding-left: 0px;
	line-height: 1.4;
	width: 60%;
	padding: 5% 20% 0% 20%;
	text-align: left;
}


#projectText{
	font-size: 16px;
	color: #888;
	padding: 10px 20px;
	padding-left: 0px;
	width: 5-%;
}

.workTitle{
	padding-top: 30px;
	padding-bottom: 10px;
	display: block;
	font-style: italic;
}

.workYear, .workMedium{
	font-size: 16px;
	padding-top: 5px;
	margin-right: 10px;
}

.workYear{
	margin-right: 0px;
}

.workDescription{
	font-size: 14px;
	line-height: 18px;
	color: #999;
	display: block;
	padding-bottom: 5px;
}

.workText{
	margin-bottom: 50px;
	width: 90%;
	line-height: 24px;
	font-size: 14px;
}

.videoSlide{
	margin-left: 25px;
	margin-bottom: 40px;
}

iframe{
	width: 100%;
}

#aboutMeContainer {
    background: inherit;
}

#aboutText {
	padding: 0px 20px;
    width: 50%;
    text-align: left;
    margin: auto;
    font-size: 14px;
    height: inherit;
    line-height: 16px;
}

.aboutHeader{
	font-weight: 500;
	padding: 5px 0px;
}

#closeAbout{
	color: #ccc;
	cursor: pointer;
	text-align: left;
	padding-top: 25px;
}