body{
	margin-top: 50px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-weight: 300;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	line-height: 1.4;
	background: #fff;
	color: #666;
}

::-webkit-scrollbar { 
    display: none; 
}

a{
	color: #666;
}

#viewer{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.noSee{
	opacity: 0;
}

.see{
	-webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
	transition: opacity 2s;
	opacity: 1;
}

#work, #slides{
	text-align: left;
	width: auto;
  	overflow-y: hidden;
  	overflow-x: scroll;
  	white-space: nowrap;
  	padding-bottom: 20px;
}

.workSlide{
	display: inline-block;
	margin-right: 100px;
}

.fullscreen {
	position:  absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	left: 0px;
	right: 0px;
}

.videoWrapperWrapper {
	width: 60%;
	margin-left: 20%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
} 

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.centered {
	margin-right: 0px;
	display: block;
}

.centeredImage {
	width: 60%;
	margin-left: 20%;
}

.workImage {
	height: 500px;
}

.text {
	color: #666;
	line-height: 1.4;
	width: 60%;
	padding: 2.5% 20% 5% 20%;
	text-align: left;
}

.text2 {
	color: #666;
	line-height: 1.4;
	width: 60%;
	padding: 5% 20% 0% 20%;
	text-align: left;
}

.workTitle{
	padding-top: 30px;
	padding-bottom: 10px;
	display: block;
	font-style: italic;
	color: #222;
}

.workYear, .workMedium{
	font-size: 16px;
	padding-top: 5px;
	margin-right: 10px;
}

.workYear{
	margin-right: 0px;
}

.workDescription{
	line-height: 18px;
	color: #999;
	display: inline-block;
}

.workText{
	margin-bottom: 50px;
	width: 90%;
	line-height: 24px;
	font-size: 14px;
}


@media (max-width: 800px) {

	.text {
		padding: 10% !important;
		width: 80% !important;
	}

	.text2 {
		padding: 10% !important;
		padding-bottom: 0px !important;
		width: 80% !important;
	}	

	.videoWrapperWrapper {
		width: 80% !important;
		margin-left: 10% !important
	}

	.centeredImage {
		width: 80% !important;
		margin-left: 10% !important;
	}

	.workImage {
		height: 300px !important;
	}

	.emptyStart {
		width: 10% !important;
		height: 300px !important;
	}

	.workSlide{
		display: inline-block;
		margin-right: 50px;
	}



}